<form class="box" action="/addcategory" method="POST">
  <label class="title is-5">Create Category:</label>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Title" name="myTitle" />
      </div>
  <button class="button is-primary">Ok</button>
</form>