<div class="box has-text-centered columns m-2">
  <a href="/placemark" class="column is-3">
    <i class="fas fa-map-pin fa-3x" style="color:rgb(153, 196, 74)" title="Add Placemark"></i>
  </a>
  <a href="/report" class="column is-3">
    <i class="fas fa-th-list fa-3x" style="color:rgb(63, 122, 139)" title="Dashboard"></i>
  </a>
  <a href="/admin" class="column is-3">
    <i class="fas fa-briefcase fa-3x" style="color:rgb(177, 40, 40)" title="Admin"></i>
  </a>
  <a href="/logout" class="column is-3">
    <i class="fas fa-sign-out-alt fa-3x" style="color:rgb(156, 70, 128)" title="Log out"></i>
  </a>
</div>
