<div class="columns is-vcentered">
  <div class="column is-half">
    {{> TitleBar title="Placemark Services Inc." subTitle="Please Log In"}}
  </div>
  <div class="column">
    {{> WelcomeNavigator }}
  </div>
</div>

<div class="columns is-vcentered">
  <div class="column has-text-centered">
    <img width="300" src="images/tintin2.jpg">
  </div>
  <div class="column">
    <div class="box">
      <h1 class="title">Log in</h1>
      {{> LoginForm }}
    </div>
  </div>
</div>
