<div class="columns is-vcentered">
  <div class="column is-half">
    {{> TitleBar title="Placemark Services Inc." subTitle="Sign up or Log in"}}
  </div>
  <div class="column">
    {{> WelcomeNavigator }}
  </div>
</div>

<div class="columns is-vcentered content">
  <div class="column has-text-centered">
    <img width="300" src="images/tintin1.jpg"/>
  </div>
  <div class="column">
    <h1 class="title">Welcome to Placemark</h1>
    <p>Pin your location and save your photos and memories</p>
  </div>
</div>
